/* Skills */

#skills {
  background-color: var(--secondary-background);
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px var(--teritary-background);
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}
#skills-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.languages-container,
.web-skills-box,
.tools-box {
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

div.skill {
  text-align: center;
  font-family: "Open Sans", "Roboto", sans-serif;
  margin: 5px;
}

div.skill-icon {
  font-size: 40px;
  padding: 5px;
}

div.skill-icon:hover {
  cursor: pointer;
}

.skill:hover .skill-name {
  font-weight: 530;
}

#education {
  padding: 40px 10px;
}

.education-container {
  font-family: "Roboto", sans-serif;
}

.edu-section-box {
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
}

.bachelors-section {
  display: grid;
  grid-template-columns: auto auto;
}

.grade-title {
  font-size: 1.2em;
  letter-spacing: 0.6px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
}

.grade {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--teritary-color);
}

.grad-span-years {
  font-size: 1em;
  color: var(--teritary-color);
}

.institution-location {
  font-size: 1em;
  color: #302e2e;
}

ul#courses {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}

ul#courses li {
  padding: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.project .proj-title {
  color: #456dff;
}
.project .proj-description h3 {
  color: #456dff;
  letter-spacing: 1.4px;
}

.project .proj-description li {
  list-style: disc;
  padding: 5px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  div.skill {
    font-size: 20px;
  }
  .bachelors-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#home {
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: var(--primary-background);
  color: var(--teritary-color);
  box-shadow: 2px 2px #f0ecec;
}

#home .cta-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

#education {
  background-color: var(--secondary-background);
  box-shadow: 2px 2px #f0ecec;
}

#skills {
  background-color: var(--primary-background);
}
#projects {
  padding: 100px 10px ;
}

#projects,
.projects-container {
  background-color: var(--secondary-background);
}
.project {
  background-color: var(--primary-background);
  border-radius: 20px;
  box-shadow: 2px 2px rgb(47, 63, 233);
}
#skills,
#contact,
#projects {
  padding: 60px 10px;
}

#contact,
#contact-container {
  background-color: var(--primary-background);
}
