/* Skills */

#skills {
  background-color: #ffffff;
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}
#skills-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.languages-container,
.web-skills-box,
.tools-box {
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

div.skill {
  text-align: center;
  font-family: "Open Sans", "Roboto",sans-serif ;
}

div.skill-icon {
  font-size: 40px;
  padding: 5px;
}

div.skill-icon:hover {
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  div.skill {
    font-size: 20px;
  }
}
